h1 {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 5px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: navy;
}

img {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #ffc;
}

form {
    text-align: center;
    padding: 40px;
}

#output {
    height: 32px;
	text-align:center;
    width: 300px;
    font-size: 32px;
	margin: 10px;
	background-color: white;
	padding: 10px;

}

#left, #right, #output {
	display:inline-block;
}

div {
	border-color: black;
	border-style: solid;
	border-width: 2px;
}

ul {
    margin-top: 50px;
    font-size: 18pt;
}

.picture {
	height: 324px;
	width: 324px;
	margin: 10px;
	background-color: white;
}

.px {
	width: 300px;
	display: inherit;
	height: 300px;
	margin: 0;
	padding: 0;
	border-color: transparent;
}

.invis {
	margin-left: auto;
	margin-right: auto;
	height: 304;
	width: 1048px;
	background-color: transparent;
	border-color: transparent;
}